@charset "utf-8";

main, header, article, footer{
    border: 2px solid gray;
    padding: 10px;
    text-align: center;
}
main {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "h h h"
        "a a a"
        "f f f";
    max-width: 1000px;
    margin: auto;
}
article{
    grid-area: a;
    margin: auto;
}
header{
    grid-area: h;
    background-color: lightgray;
}
footer{
    grid-area: f;
    border: 1px solid gray;
    background-color: lightgray;
}
fieldset{
    text-align: right;
}